// Styling for the anunciante section
#anunciante {
  // padding-top: 200px;
  // padding-bottom: 100px;
  text-align: center;
  color: white;
  background-image: url('../img/anunciante/anunciante-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  font-size: 23px;
  div.row {
    padding-top: 135px;
    padding-bottom: 120px;
  }
  .advertiser-text {
    font-size: 30px;
    line-height: 30px;
  }
  #btn-advertiser {
    width: 200px;
  }
  div.separator {
    width: 100%;  
    hr {
        text-align: center;
        background-color: white;
        width:150px;
        height:8px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
  }
}