#galeria {
    // padding-top: 300px;
    // padding-bottom: 200px;
    background-color: $gray-bg;
    .controles-galeria {
        width: 5%;
        opacity: .5;
        background-color: $gray-900;
    }
}