// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  font-size: 20px;
  // .color-filter {
  //   background-image: linear-gradient(
  //     rgba(255,0,0,0.3),
  //     rgba(255,0,0,0.3)
  //   ),
  //   url('../img/header-bg.jpg');
  //   background-repeat: no-repeat;
  //   background-attachment: scroll;
  //   background-position: center center;
  //   background-size: cover;
  // }
  .intro-text {
    padding-top: 130px;
    padding-bottom: 80px;
    font-size: 12px;
    .intro-lead-in {
      font-size: 22px;
      line-height: 42px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 20px;      
      line-height: 20px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
      // background-image: linear-gradient(
      //   rgba(255, 0, 0, 0.100),
      //   rgba(255, 0, 0, 0.100)
      // ),
      background-image: url('../img/header-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
    .intro-text {
      padding-top: 220px;
      padding-bottom: 180px;
      font-size: 30px;
      .intro-lead-in {
        font-size: 60px;
        line-height: 52px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 22px;        
        line-height: 30px;
        margin-bottom: 25px;
        @include heading-font;
      }
    }
  }
}
