// Styling for the propietario section
#propietario {
  // padding-top: 100px;
  // padding-bottom: 50px;
  text-align: center;
  color: white;
  background-image: url('../img/propietario/propietario-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  font-size: 23px;
  div.row {
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .owner-text {
    font-size: 30px;
    line-height: 30px;
  }
  #btn-owner {
    width: 200px;
  }
  div.separator {
    width: 100%;  
    hr {
        text-align: center;
        background-color: white;
        width:150px;
        height:8px;
        margin-top: 25px;
        margin-bottom: 30px;
    }
  }
}