// Styling for the servicios section
#servicios {
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: $gray-bg !important;    
    // background-image: url('../img/servicios/servicios-top-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom center;
    background-size: 0px 0px 271px 1900px;
    .service-heading {
        margin: 15px 0;
        text-transform: none;
        color: $white;
    }
    .section-heading {
        padding: 50px;
    }
  }