// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";

#filtrosbusqueda {
    // background-color: $gray-900 !important;
    padding: 150px;
    .filtrosbusqueda-menu {
        // background-color: $gray-100;
        #fb-accordion {
            background-color: $white;
            border-color: $gray-900;
        }
        .card {
            background-color: $gray-600;
            border-color: $white;
            .card-header {                
                .btn-item {
                    font-size: 90%;
                    font-weight: 400;
                    letter-spacing: 1px;
                    color: $white;
                    @include heading-font;
                    &.active,
                    &:hover {
                    color: $gray-700;
                    }
                }
            }
            .card-body {
                background-color: $gray-100;
                overflow-y: auto;
                height: 300px;
                .dropdown {
                    padding-bottom: 5px;
                    .btn-primary {
                        background-color: $gray-600;
                        width: 200px;
                    }
                }
                // #filtro-muro {
                    
                // }
                .btn-secondary {
                    background-color: $gray-100;
                    color: red;
                    width: 200px;
                    padding: 0px;
                }
                .crop {
                    float:left;
                    width: 50px;
                    height: 50px;
                    .ico-filtrobusqueda {
                        position:relative;

                    }
                }
            }
            #dd-pais {
                overflow-y: auto;
                height: 200px;
            }
        }
        #btns-accordion {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .filtrosbusqueda-lugar {
        // background-color: $gray-700;
        .card-body {
            padding: 0px;
            .card-title {
                font-size: 90%;
                font-weight: bold;
                background-color: $gray-700;
                color: $white;
            }
            .amber-text {
                color: gold;
            }
        }
    }

    .filtrosbusqueda-mapa {
        background-color: $gray-800;
    }
}