// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";

#login {
    // background-color: $gray-700 !important;   
    .login-form {
        color: $gray-600;
        padding-top: 200px;
    }

    .login-fondo {
        text-align: center;
    }

    #btn-submit-login {
        width: 200px;
    }

    div.separator {
        width: 100%;  
        hr {
            text-align: left;
            background-color: red;
            width:150px;
            height:8px;
            margin: 25px 0px;
        }
    }
}

@media (min-width: 375px) {
    #login {
        #btn-submit-login {
            text-align: center;
            padding: 10px 10px;
        } 
    }
}